<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Adicionar produtos</title>
</head>
<body>
  <h1>Adicionar Produto</h1>
<form method="POST">
    Nome: <input type="text" name="nome"><br>
    Preço: <input type="number" name="preco" step="0.01"><br>
    <button type="submit">Adicionar</button>
</form>
<a href="/">Voltar</a>

    
</body>
</html>