<form id="registerForm" method="post" action="{{ url_for('register') }}">
    Name: <input type="text" name="username" id="username">
    Phone: <input type="text" name="userphone" id="userphone">
    <button type="submit">Cadastrar</button>
</form>

<p id="errorMsg" style="color:red;"></p>

<script>
const form = document.getElementById("registerForm");
const errorMsg = document.getElementById("errorMsg");

form.addEventListener("submit", function(event) {
    event.preventDefault();

    const username = document.getElementById("username").value.trim();
    const userphone = document.getElementById("userphone").value.trim();

    if (username === "" || userphone === "") {
        errorMsg.textContent = "Todos os campos são obrigatórios!";
        return;
    }

    if (!/^\d{10,11}$/.test(userphone)) {
        errorMsg.textContent = "Telefone inválido!";
        return;
    }else{
        alert("Usuario cadastrado: " + username)
    }

    form.submit();
});
</script>
